/* arrow styling */
.arrows {
	margin-bottom: 15px;
	text-align: center;
}
.arrows .fa {
	vertical-align: middle;
}
.arrows .arrow-margin {
	margin-left: 10px;
	margin-right: 10px;
}


/* misc */
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
img {
	max-width: 100%;
}
.image-listing {
	margin-top: 10px;
}

/* chapter view */
.chapter-cover {
	display: block;
	margin: 0 auto;
	max-height: 460px;
}
.chapter-thumb {
	display: block;
}
.page-chapter {
	margin: 0 auto;
	text-align: center;
	width: 140px;
}

/* page view */
.page img {
	display: block;
	margin: 0 auto;
}

/* edit pages */
.edit .options select {
	margin-bottom: 15px;
}
.new-image {
	text-align: center;
}
.new-image > input {
	display: none;
}
.wrap {
	display: inline-block;
	cursor: pointer;
}

/* side panel */
.highlight-image {
	display: block;
	height: 150px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.news-scroll {
	text-align: center;
	cursor: pointer;
}
.news-scroll:hover {
	color: #9B59B6;
}