.arrows {
	margin-bottom: 15px;
	text-align: center;
}
.arrows .fa {
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}
.arrows .btn {
	margin-left: 10px;
	margin-right: 10px;
}
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
img {
	max-width: 100%;
}
.chapter-cover {
	max-height: 430px;
}
.chapter-thumb {
	display: block;
}
.page-chapter {
	display: block;
	text-align: center;
}
.page img {
	display: block;
	margin: 0 auto;
}

.image-listing {
	margin-top: 10px;
}

.edit .options select {
	margin-bottom: 15px;
}

.new-image {
	text-align: center;
}
.new-image > input {
	display: none;
}
.wrap {
	display: inline-block;
	cursor: pointer;
}

.highlight-image {
	display: block;
	height: 150px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.news-scroll {
	text-align: center;
	cursor: pointer;
}
.news-scroll:hover {
	color: #9B59B6;
}