@bg-color: #c4d3ff; //rgba(56, 77, 179, 0.46); //rgba(165, 144, 182, 0.46); //rgba(134, 115, 148, 0.85); //rgba(116, 47, 145, 0.28); //#ba87cf;
@fg-color: rgba(248, 248, 248, 0.7); //rgba(209, 206, 213, 0.42); //lighten(@bg-color, 45%); //#EEE2F3; //#f2e8f6
@icon-color: darken(@bg-color, 10%);
@icon-hover: darken(@icon-color, 20%);

//foreground 36 30 48

// blue rgba(74, 133, 172, 0.8)


body {
	background: @bg-color;
}

// arrows styling
.arrows {
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;

	a {
		img {
			height: 40px;
		}

		.left {
			margin-right: 0.6em;
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
		}

		.right {
			margin-left: 0.6em;
		}
	}
}


// misc
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
a:hover {
	text-decoration: none;
}
.capitalise {
	text-transform: capitalize !important;
}
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.image.centered {
	margin-right: auto;
	margin-left: auto;
}
html {
	font-size: 100%;
}
.rounded {
	border-radius: 0.3125em;
}
//device visibility
.show {
	&.xs {
		display: none !important;
	}
}
.hide {
	&.xs {
		display: inline-block !important;
	}
}
@media (max-width: 767px) {
	.show {
		&.xs {
			display: block !important;
		}
	}

	.hide {
		&.xs {
			display: none !important;
		}
	}
}


// sticky footer
html, body {
  height: 100%;
}
.page-wrapper {
	min-height: 100%;
	height: auto;
	margin-bottom: -48px;
}
.page-wrapper:after {
	content: " ";
	display: block;
}
.footer, .page-wrapper:after {
	height: 48px;
}


// picture items
@media only screen and (max-width: 768px) {
	.ui.variable.items > .item {
	  width: 95% !important;
	  margin-left: 2.5% !important;
	  margin-right: 2.5% !important;
	}
}
.ui.variable.items > .item {
  width: 42.5%;
  border-bottom-width: 3px;
}
.ui.variable.items > .item:nth-child(2n) {
	margin-left: 2.5%;
	margin-right: 5%;
}
.ui.variable.items > .item:nth-child(2n+1) {
  clear: left;
  margin-left: 5%;
  margin-right: 2.5%;
}
.ui.items .item:nth-of-type(n):hover {
	border-bottom-color: @icon-color !important;
}
.ui.items .item {
	min-height: 0;

	.meta {
		color: rgba(0, 0, 0, 0.55);
	}
}


// edit pages
.edit .options select {
	margin-bottom: 15px;
}
.new-image {
	text-align: center;
}
.new-image > input {
	display: none;
}
.wrap {
	display: inline-block;
	cursor: pointer;
}


// side panel
.highlight-image {
	display: block;
	height: 150px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.news-scroll {
	text-align: center;
	cursor: pointer;
	color: @icon-color;

	&:hover {
		color: @icon-hover;
	}
}
	// make the first and last have rounded corners
.news-feed div.segment:first-child {
	margin-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.news-feed div.segment:last-child {
	margin-top: 0;
	margin-bottom: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

// menu
.ui.menu {
	margin: 0;
	margin-bottom: 14px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&.transparent {
		opacity: 0.95;
	}
}


// semantic
.ui.divider > .large.icon {
	font-size: 2.5em;
	cursor: pointer;
}

i.icon {
	&.orange {
		color: #FF4121 !important;
	}

	&.dark {
		color: @icon-color !important;

		&:hover {
			color: @icon-hover !important;
		}
	}
}

.ui.segment {
	background-color: @fg-color;
	.box-shadow(@icon-color);

	&:last-child {
		margin-bottom: 1em;
	}

	&.attached {
		.box-shadow(@icon-color);
	}
}

.ui.message {
	& > .remove.icon {
		cursor: pointer;
		position: absolute;
		top: 1em;
		right: 0.5em;
		opacity: 0.7;
		-webkit-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;

		&:hover {
			opacity: :1;
		}
	}

	&.info {
		background-color: #CEE6EE;
		color: #3D8396;
	}
}


//form
.ui.form .header {
	margin: 0em;
	margin-bottom: 0.5em;
	font-size: 1.33em;
	font-weight: bold;
}

.ui.form .fields > .field {
	padding-left: 1.5%;
}

.ui.form input[type="text"]:focus,
.ui.form textarea:focus {
  border-color: @bg-color;
  -webkit-box-shadow: 0.3em 0 0 0 @icon-color inset;
  box-shadow: 0.3em 0 0 0 @icon-color inset;
}

.ui.form .selection.dropdown {
	&:hover {
		.box-shadow(@bg-color) !important;
	}

	& > .menu {
		.box-shadow(@bg-color);
	}
}



//mixins
.box-shadow(@color) {
	-webkit-box-shadow: 0 0 0 1px @color;
	box-shadow: 0 0 0 1px @color;
}